.stats-grid:first-child::before {
  content: "🔥";
  font-size: 1.5em;
}

.stats-grid:last-child {
  background-color: #705dbc;
}

.stats-grid:last-child .stat-number,
.stats-grid:last-child .stat-label {
  color: white;
}

.stats-grid:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.workout-plan:nth-child(2) {
  background-color: #fff8ba;
  border-left: orange;
  border-left-width: 5px;
  border-left-style: solid;
}

.exercise-item:first-child,
.exercise-item:last-child {
  background-color: #f0fff4;
  border-left: green;
  border-left-width: 5px;
  border-left-style: solid;
}

.exercise-item:nth-child(even)::before {
  content: "⚡";
  font-size: 1.5em;
}

input:focus,
select:focus {
  border-color: blue;
  box-shadow: 0px 0px 5px blue;
  outline: none;
}