.stats-grid:first-child::before {
  content: "🔥";
  font-size: 2em;
}

.stats-grid:last-child {
  background-color: #705dbc;
}

.stats-grid:last-child .stat-number,
.stats-grid:last-child .stat-label {
  color: white;
}

.stats-grid:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}